<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Real madrid club</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <div>
          <img
            src="/images/real-club-logo.png"
            width="100"
            alt="Real club logo"
          />
        </div>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/teams">Team</a></li>
          <li>
            <a href="#">History</a>
            <ul>
              <li><a href="/early-years">Early Years</a></li>
              <li><a href="/achievements">Achievements</a></li>
              <li><a href="/legends">Legends</a></li>
            </ul>
          </li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
